body{
    font-family: "Plus Jakarta Sans", Sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

 .container{
        flex: 1;
    }

.navbar{
    height: 5rem;
    background-color: white;

}

.fa-compass{
    color:#fe424d ;
    font-size:2rem ;
}
.nav-link {
    color: #0b0a0a !important;
}

footer {
    background-color: #f8f9fa;
    padding: 1rem 0;
    width: 100%;
    margin-top: auto;

}

.f-info-links a{
    text-decoration: none;
    color: #0b0a0a;
}
.f-info-links a:hover{
    text-decoration: underline;
    

}
.f-info{
    text-align: center;
    display: flex;
    height: 8rem;
    background-color: rgb(218, 222, 223);
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;

}
.f-info-links, .f-info-social, .f-info-brand {
    width: 100%;
   vertical-align: middle;
   display: flex;
   align-items: center;
   justify-content: center;
}
.f-info-social i{
  
    font-size: 1.2rem;
    margin-right: 1rem;

}


.f-info-social :hover{
    color: rgb(10, 86, 134);
    font-size: 1.4rem;
    
}
/*cards*/
.listing-card{
    border: none !important;
   margin-bottom:2rem ;

}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;

}
  .card-body{
        padding: 0 !important;
        
    }
    .card-text p{
        font-weight: 400;
    }
    .listing-link{
        text-decoration: none;
    }
    /*Card effect*/
    
    .card-img-overlay{
        opacity: 0;
    }

    .card-img-overlay:hover{
opacity: 0.2;
background-color: white;
    }
/* New */
   .add-btn{
    background-color: #fe424d !important;
    border: none !important;
   }

   .edit-btn{
     background-color: #fe424d !important;
    border: none !important;
    
}
   
.show-img{
    height: 30vh;
}

 .btns{
    display: flex;
  
 }
   .show-card{
    padding-left: 0;
    padding-right: 0;
   }




#map {
    height: 500px;
    width: 700px;
}


 .filter{
  margin-top: 1rem;
  text-align: center;
  margin-right: 5rem;
  opacity: 0.5;
 }
 .filter:hover{
  opacity: 1;
  cursor: pointer;
 }
 #filters{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
 }
 .filter span{
  display: block;
  font-size: 0.8rem;
  margin-top: 0.3rem;
 }

 .tax-info{
    display: none;
 }
 .tax-toggle{
    border: 1px solid black;
    border-radius: 1rem;
    height: 3.5rem;
    padding: 1rem;
    margin-top: 1rem;
   margin-left: 15px;
   display: flex;
   align-items: center;
 }

 .search-btn:hover{
    background-color: #fe424d;
    color: white;
   
 }
 .search-btn{
    border: 1px solid #28a745;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    background-color: white;
    color: #28a745;
    font-weight: 500;
    display: flex;
    align-items: center;
 }
 .search-btn i{
    display: inline;
    margin-right: 0.5;

 }
 #search-inp{
    border-radius: 25px !important;

 }
